<header class="header">
  <a href="/index2/" aria-label="Enlace a la página de inicio">
    <img
      class="logo-image"
      src="/imagenes/logoOK.png"
      alt="Logo de la Escuela de Arte"
    />
  </a>
  <button id="menu-toggle" aria-label="Toggle menu">☰</button>
  <nav aria-label="Menú principal">
    <ul>
      <li><a href="/index2/">Inicio</a></li>
      <li><a href="/acercaDe/">Acerca de</a></li>
      <li><a href="/cursos/">Cursos y Talleres</a></li>
      <li><a href="/preguntas/">Preguntas Frecuentes</a></li>
      <li><a href="/contacto/">Contacto</a></li>
      <li><a href="/cursos/listado/">Administración</a></li>

      <button id="theme-toggle-btn">Modo Claro/Oscuro</button>
    </ul>
  </nav>
</header>