<div>
  <img
    src="/imagenes/imgs-banners/jen-theodore-Ou8pttKRopM-unsplash (1).jpg"
    alt=""
  />
</div>

<main class="main">
  <h3 class="acerca">ACERCA DE</h3>
  <p>Arte Vivo es una escuela que cree en la capacidad de todas las personas
    para desarrollar su propio lenguaje visual y su creatividad. Por eso, no
    solo ofrecemos orientación y formación para profesionales del área sino para
    todo interesado en este campo.</p>
  <p>Si bien creemos en la importancia de la experimentación, la innovación y la
    exploración de diversas técnicas y estilos artísticos, creemos que es
    fundamental la capacitación teórica. Por eso, brindamos una educación
    integral, con cursos sobre Historia del Arte local y global.</p>
  <p>Asimismo fomentamos un ambiente de aprendizaje colaborativo donde los
    estudiantes pueden compartir ideas y desarrollar su propia voz artística.</p>
</main>

<script src="/javascripts/darkmode.js"></script>
<script>
  document.getElementById('menu-toggle').addEventListener('click', function() {
  document.querySelector('nav').classList.toggle('show');
  this.classList.toggle('show'); });
</script>