
    <main>
      <img
        id="hero-image"
        src="/imagenes/imagen-inicio.jpg"
        alt="Imagen de arte"
      />
      <div id="container-title-image-over">
        <p class="title-image-over">c r e a</p>
        <p class="title-image-over">t i v i</p>
        <p class="title-image-over">d a d.</p>
      </div>
      <section>
        <a href="/cursos/"> <h2>CURSOS DISPONIBLES</h2></a>

        <p>Explorá nuestra amplia variedad de cursos de arte.
        </p>
        <div id="letters">
          <div>
            <span>A</span>
            <p>Arte Urbano</p>
            <small>Curso que explora técnicas de graffiti, stencil, y muralismo, junto con
              herramientas de lenguaje visual.
            </small>
          </div>
          <div>
            <span>C</span>
            <p>Clínica de Obra</p>
            <small>Sumergite en un ambiente de colaboración y crítica
              constructiva para explorar proyectos artísticos.
            </small>
          </div>
          <div>
            <span>I</span>
            <p>Taller de Ilustración Digital</p>
            <small>El curso combina materias de Bellas Artes con la enseñanza
              del software necesario.</small>
          </div>
          <div>
            <span>H</span>
            <p>Historia del Arte Argentino</p>
            <small>Análisis exhaustivo de la evolución del arte en Argentina,
              desde sus raíces hasta la actualidad.
            </small>
          </div>
          <div>
            <span>T</span>
            <p>Taller para las Infancias</p>
            <small>Curso de introducción lúdica y educativa al mundo del arte,
              fomentando la creatividad.
            </small>
          </div>
          <div>
            <span>T</span>
            <p>Taller de Pintura Creativa</p>
            <small>Taller en el que se aborda la experimentación con materiales
              no tradicionales.</small>
          </div>
        </div>
      </section>
    </main>


    <script src="/javascripts/darkmode.js"></script>
    <script>
      document .getElementById("menu-toggle") .addEventListener("click",
      function () { document.querySelector("nav").classList.toggle("show");
      this.classList.toggle("show"); });
    </script>
  </body>
</html>

